:root {
  --info: 217 91% 45%;
  --success: 142 69% 35%;
  --warning: 38 92% 40%;
  --danger: 0 84% 40%;
  --density: 1;
}


[data-density='comfortable'] {
  --density: 1;
}

[data-density='compact'] {
  --density: 0.75;
}

.dark {
  --info: 217 91% 60%;
  --success: 142 69% 55%;
  --warning: 38 92% 50%;
  --danger: 0 84% 55%;
}